/**
 * @name CUSTOM NewerOldCord
 * @author FOSSIE - @milbit, @Cyn
 * @Description Updates OldCord with a classic Discord layout and modern visuals
 * @source https://github.com/FrCynda/NewerOldCord
 * @version 1.0
 */

/* Edited parts use ## */

@import url("https://milbits.github.io/oldcord/src/components/vars.css");


html.visual-refresh {
 /*servers and channels*/
 .wrapper_cc5dd2,
	.childWrapper__6e9f8,
	.icon__6e9f8 {
 width: 50px !important;
 height: 50px !important;
}
.wrapper_cc5dd2 > .svg_cc5dd2 {
 inset: auto;
 contain: none;
}
.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject {
 mask: none;
 overflow: visible;
 x: -4;
 y: -4;
}
.wrapper_cc5dd2 > .svg_cc5dd2 foreignObject[width="48"] {
 x: 0;
 y: 0;
}
.wrapper_cc5dd2 .wrapper__6e9f8 {
 width: 48px;
 height: 48px;
 border-radius: 25px;
 overflow: hidden;
 transition: border-radius 0.2s ease;
}
.wrapper__6e9f8.selected__6e9f8 {
 border-radius: 15px !important;
}
/* fixes "add server" and "discover" buttons */
.circleIconButton__5bc7e {
 width: 30px!important;
 height: 30px !important;
 transform: translate(10px, 10px);
 border-radius: 25px;
}
.discoveryIcon_ef3116{
 transform: translate(0px, 9px);
}
/* chat box */
.scrollerSpacer__36d07 {
 height: 30px;
}
.chatGradientBase__36d07 {
 display: none;
}
.formWithLoadedChatInput_f75fb0 {
 padding-left: 16px !important;
 padding-right: 16px !important;
 margin-top: -12px;
 .channelTextArea__74017 {
  border: none;
 }
 .stackedBars__74017 {
  background: var(--primary-630);
  &:first-child,
  &.floatingBars__74017:empty + .stackedBars__74017:nth-child(2) {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
  }
  &:not(:last-child) {
   border: none;
  }
 }
 .channelTextArea_f75fb0 {
  --custom-chat-input-margin-bottom: 24px;
 }
 .attachWrapper__0923f {
  padding: 6px 0px 6px 6px;
  position: relative;
  bottom: 2px;
 }
}
.channelTextArea__74017 {
 border: unset;
 border-radius: 8px;
}
.separator__49fc1 {
 box-shadow:
  0 1px 0 0 hsl(240 calc(1 * 5.263%) 7.451% /0.3),
  0 1px 2px 0 hsl(240 calc(1 * 5.263%) 7.451% /0.3);
}
.header__49fc1 {
 padding: var(--modal-vertical-padding) var(--modal-horizontal-padding);
}
.autocompleteAttached__6b0e0 {
 left: 0;
 right: 0;
}
.cooldownText_b21699 {
 color: var(--font-primary) !important;
}
.base_b88801 {
 left: 16px;
 font-size: 14px;
 font-weight: 500;
 line-height: 24px;
 bottom: 1px !important;
 top: unset !important;
 align-items: center;
 color: var(--text-default);
 strong {
  font-weight: var(--font-weight-bold) !important;
 }
 .text_b88801 {
  margin-left: 4px !important;
 }
 .typingDots_b88801 {
  margin-left: unset;
 }
}

 

}


/* server list */
.base__5e434 .sidebar__5e434 > .guilds__5e434 {
	width: 72px;
	.scroller_ef3116 {
		padding-top: 2px;
		gap: 0px !important;
		.isExpanded__48112 ul.stack_dbd263 {
			height: auto !important;
		}
	}
	#guild-list-unread-dms:has(.listItem__650eb) {
		padding-top: 8px !important;
	}
	.listItem__650eb:has(.guildSeparator__252b6) {
		margin: 6px 0 8px 0;
	}
	.listItem__650eb {
		margin: 0 0 0px;
	}
	.guildSeparator__252b6 {
		height: 2px;
	}
	.folderIcon__48112 {
		margin-top: 0px;
		margin-left: -1px;
		& svg {
			width: 24px;
			height: 24px;
		}
	}
}